<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>About</title>-->
<!--</head>-->
<!--<body>-->

<!--        <h1 style="color: #020024">This is about page</h1>-->
<!--        <hr>-->

<!--&lt;!&ndash; Using fragment &ndash;&gt;-->
<!--    <div th:insert = "~{base :: parent1}" ></div>-->

<!--        <hr>-->

<!--    <div th:insert="~{base :: parent2(one,two)}"></div>-->

<!--        <hr>-->

<!--    <div th:replace="~{base :: parent3(~{:: #content_class})}">-->
<!--        <div id="content_class">-->
<!--            <h2>This is content </h2>-->
<!--            <p>We are loading HTML dynamically</p>-->
<!--        </div>-->
<!--    </div>-->


<!--</body>-->
<!--</html>-->